*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  color: black;
  background-color: #efefef;
}
/* ------------------------------------------------------------------------------------------------------------------- */
  /* Design Header */
/* ------------------------------------------------------------------------------------------------------------------- */

/* header */
.content-header{
  position: fixed;
  width: 97%;
  height: 100px;
  left: 50%;
  top: 1.5%;
  transform: translate(-50%);
  border-radius: 15px;
  z-index: 5;
}

.content-header.scroll{
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.5);
}

.wrapper-header{
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  z-index: 5;
}

.img-logo{
  height: 80px;
  width: 65px;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.item-nav{
  text-decoration: none;
  margin-right: 20px;
  margin-left: 20px;
  color: white;
}
.item-nav:hover{
  color: white;
}

/* Version actif des link de nav dans le header */

.item-nav.actif::after{
  content: '';
  position:relative;
  top: 5px;
  left: 0;
  width: 70%;
  height: 2px;
  display: flex;
  background-color: white;
  transition: 0.3s;
}

.item-nav::after{
  content: '';
  position:relative;
  top: 5px;
  left: 0;
  width: 0;
  height: 2px;
  display: flex;
  background-color: white;
  transition: 0.3s;
}
.item-nav:hover::after{
  width: 70%;
}

/* ---------------------------------- */
/* menu burger */
/* ---------------------------------- */

.menu-burger{
  width: 40px;
  height: 24px;
  cursor: pointer;
  position: relative;
  display: none;
}

.menu-burger span{
  width: 100%;
  height: 4px;
  background-color: white;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50px;
  transition: background-color 0.5s ease-in-out;
}

.menu-burger span::before, .menu-burger span::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 50px;
  transition: transform 0.5s ease-in-out;
}

.menu-burger span::before{
  transform: translateY(10px);
}

.menu-burger span::after{
  transform: translateY(-10px);
}

.menu-burger.active span{
  background-color: transparent;
}

.menu-burger.active span::before{
  transform: translateY(0) rotateZ(45deg);
}

.menu-burger.active span::after{
  transform: translateY(0) rotateZ(-45deg);
}

/* ------------------------------------------------ */
/* Creation et afficher du menu mobile en plein ecran */
/* ------------------------------------------------ */

.menu-anim{
  background-color: #171717;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 100px;
  z-index: 4;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
}

.menu-anim.is-active{
  opacity: 1;
  visibility: visible;
}

.menu-list{
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.menu-item:not(:last-child){
  margin-bottom: 30px;
}

.menu-link{
  position: relative;
  display: inline-flex;
  font-weight: bold;
  font-size: 35px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.menu-link:hover{
  color: white;
}

.menu-link::after{
  content: '';
  position:absolute;
  bottom: -20px;
  left: 0;
  width: 0;
  height: 5px;
  display: inline-flex;
  background-color: #c5e600;
  transition: 0.3s;
}
.menu-link:hover::after{
  width: 100%;
}

/* Fin header */

/* ------------------------------------------------------------------------------------------------------------------- */
  /* Design content */
/* ------------------------------------------------------------------------------------------------------------------- */

/* -------------------------------------------- */
/* Contenu premier page, page accueil */
/* -------------------------------------------- */
.site-content{
  width: 100%;
  height: auto;
}

.wrapper-content{
  width: 100%;
  height: 100vh;
  /* overflow-y: scroll;
  scroll-snap-type: y mandatory; */
  /* overflow-x: hidden; */
}

.item-section{
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
  /* overflow: hidden; */
  position: relative;
}

/* Image fond */
.first-page {
  width: 100%;
  height: 100vh;
  background-image: url(../img/photo-noir-et-blanc-retouche.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}

/* bar latteral reseau */
.network{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}

.list-network{
  padding: 0;
  margin-top: 48px;
  margin-bottom: 48px;
}

.separator-top, .separator-bottom{
  width: 2px;
  height: 200px;
  background-color: white;
}

.icon-network{
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.linkedin{
  margin-top: 20px;
}
.git{
  margin-top: 20px;
}

/* Titre principal */
.section-title{
  transform: translateX(100px);
}

.title-me{
  font-size: 74px;
  color: white;
  font-weight: bold;
}
/* titre principal mobile */
.title-me-mobile{
  font-size: 40px;
  color: white;
  font-weight: bold;
  display: none;
}

.description-title{
  margin-top: 30px;
  font-size: 22px;
  color: white;
}

.description-title-mobile{
  margin-top: 30px;
  font-size: 22px;
  color: white;
  display: none;
}

/* zone actif en fonction des pages */
.actif-section{
  position: fixed;
  top: 50%;
  right: 2%;
  transform: translate(-50%, -50%);
}

.item-landmark{
  width: 3px;
  height: 45px;
  background-color: white;
  margin: 30px 0 30px 0;
}

/* Button musique */
.sound{
  position: fixed;
  left: 0.8%;
  top: 93%;
}

.circle-icon-sound{
  width: 45px;
  height: 45px;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center ;
  cursor: pointer;
}

.fa-volume-high, .fa-volume-xmark{
  font-size: 20px;
}

/* info scroll */
.scroll-down{
  position: absolute;
  top: 90%;
  right: 0%;
  transform: rotate(90deg);
}

.info-scroll{
  color: white;
  font-size: 15px;

}

.fa-arrow-right{
  margin-left: 10px;
  font-size: 16px;
}

/* ---------------------------------------------------------------------- */
/* Media queries page d'accueil, (responsive) */
/* ---------------------------------------------------------------------- */

@media (min-width: 2000px) {
  .separator-top, .separator-bottom{
    height: 280px;
  }
}

@media (max-width: 1500px) {
  .title-me{
    font-size: 60px;
  }
}

@media (max-width: 1100px) {
  .title-me{
    font-size: 45px;
  }
  .menu{
    display: none;
  }
  .menu-burger{
    display: block;
  }
}

@media (max-width: 950px) {
  .actif-section{
    display: none;
  }
  .title-me{
    font-size: 35px;
  }
}

@media (max-width: 800px) {
  .title-me{
    display: none;
  }
  .network{
    display: none;
  }
  .title-me-mobile{
    display: block;
  }
}
@media (max-width: 650px) {
  .description-title{
    display: none;
  }
  .description-title-mobile{
    display: block;
    line-height: 2rem;
  }
  .section-title{
    transform: translateX(50px);
  }
  .img-logo{
    height: 80px;
    width: 55px;
  }
  .menu-anim{
    padding: 10px;
  }
}

/* ---------------------------------------------- */
/* deuxième section, parlons de moi */
/* ---------------------------------------------- */

.seconde-page{
  width: 100%;
  height: 100vh;
  background-color: #36382E;
  position: relative;
  z-index: -99;
}

/* container img et text */
.content-me{
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
}

.profil{
  width: 455px;
  height: 592px;
}

.border-picture{
  position: absolute;
  top: 15%;
  left: -2%;
  width: 455px;
  height: 592px;
  background-color: transparent;
  border: 2px solid white;
  z-index: -2;
}

/* container text */
.about-me{
  margin-left: 50px;
}

.category{
  width: 140px;
  height: 40px;
  background-color: rgb(112, 112, 112, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
}

.student-title{
  color: white;
  font-size: 55px;
  font-weight: bold;
  margin: 20px 0;
}

.description{
  width: 65%;
  font-size: 20px;
  line-height: 2rem;
  color: white;
}

.download-CV{
  font-size: 18px;
  border-radius: 30px 0 30px 0;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 20px 30px;
  margin-top: 30px;
}
.download-CV:hover{
  background-color: rgb(255, 255, 255, 0.8);
  border: 2px solid #36382E;
  color: #36382E;
}

/* background Title section */
.container-bg-title{
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg-title{
  position: absolute;
  top: 30%;
  left: 15%;
  font-size: 400px;
  color: rgb(255, 255, 255, 0.2);
  white-space: nowrap;
  z-index: -100;
}

/* ---------------------------------------------------------------------- */
/* Media queries seconde page, about me (responsive) */
/* ---------------------------------------------------------------------- */

@media (min-width: 2000px) {
  .border-picture{
    position: absolute;
    top: 20%;
  }
}
@media (max-width: 1800px) {
  .border-picture{
    position: absolute;
    top: 20%;
  }
}
@media (max-width: 1600px) {
  .description{
    width: 85%;
  }
}
@media (max-width: 1300px) {
  .description{
    width: 95%;
  }
}
@media (max-width: 1000px) {
  .seconde-page{
    height: 110vh;
  }
  .content-me{
    flex-direction: column;
  }
  .about-me{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }
  .border-picture{
    display: none;
  }
  .profil{
    width: 380px;
    height: 490px;
  }
  .student-title{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
  }
  .description{
    width: 100%;
    font-size: 18px;
    line-height: 2rem;
    color: white;
  }
  .download-CV{
    width: auto;
    margin: auto;
    font-size: 11px;
    padding: 10px 20px;
  }
}
@media (max-width: 800px) {
  .profil{
    width: 330px;
    height: 350px;
  }
  .scroll-down{
    display: none;
  }
}
@media (max-width: 600px) {
  .profil{
    width: 250px;
    height: 274px;
  }
  .student-title{
    font-size: 30px;
  }
  .description{
    font-size: 15px;
  }
  .bg-title{
    display: none;
  }
  .category{
    width: 120px;
    height: 30px;
    font-size: 11px;
  }
  .content-me{
    transform: translateY(40px);
  }
}

/* ---------------------------------------------- */
/* troisième section, mes compétences, my skill*/
/* ---------------------------------------------- */

.third-page{
  width: 100%;
  height: 100vh;
  background-color: #464655;
  position: relative;
  z-index: -99;
}

.content-third-section{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
}

/* illustration */
.illustration-thrid-section{
  width: 35%;
  position: relative;
  top: 30%;
}

.illust-skill{
  width: 100%;
  height: auto;
}

/* container skill */
.container-skill{
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 60px;
  margin-top: 100px;
  z-index: 10;
}


/* Tab menu skill */
.tab-menu{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-tab{
  width: 35%;
  line-height: 2rem;
  color: rgb(255, 255, 255, 0.3);
  border-bottom: 5px solid rgb(255, 255, 255, 0.35);
  cursor: pointer;
}

.title-modul{
  font-size: 35px;
  font-weight: bold;
}

.description-modul{
  color: rgb(255, 255, 255, 0.3);
  font-size: 20px;
}

.item-tab.item_tab_actif{
  border-bottom: 5px solid white;
  color: white;
}

.item-tab.item_tab_actif .description-modul{
  color: rgb(255, 255, 255, 0.6);
  font-size: 20px;
}

/* Bar progress skill */
.bar-progress{
  margin-top: 60px;
  display: none;
}

.item-progress{
  margin-top: 40px;
}

.label-progress{
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.item-label-title{
  color: white;
  font-size: 18px;
}
.item-label-percentage{
  color: white;
  font-size: 18px;
}

.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  display: flex;
  height: 15px;
  width: 745px;
}

.progress-value {
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: linear-gradient(45deg, #27DEBF, #018673);
  height: 15px;
  width: 0;
}

.bar-progress-3{
  margin-bottom: 92px;
}

.bar-progress.actif-progress-bar{
  display: block;
}


/* 1 */
/* ---------------------------------------------------------- */
/* appelle animation pour les bar progress skill design */
.progress-value-design-1{
  animation: load-design-1 3s normal forwards;
}
.progress-value-design-2{
  animation: load-design-2 3s normal forwards;
}
.progress-value-design-3{
  animation: load-design-3 3s normal forwards;
}
.progress-value-design-4{
  animation: load-design-4 3s normal forwards;
}
.progress-value-design-5{
  animation: load-design-5 3s normal forwards;
}

/* 1 */
/* ----------------------------------------------------------- */
/* longeur et animation des bar progress skill design*/
@keyframes load-design-1 {
  0% { width: 0; }
  100% { width: 60%; }
}
@keyframes load-design-2 {
  0% { width: 0; }
  100% { width: 75%; }
}
@keyframes load-design-3 {
  0% { width: 0; }
  100% { width: 90%; }
}
@keyframes load-design-4 {
  0% { width: 0; }
  100% { width: 60%; }
}
@keyframes load-design-5 {
  0% { width: 0; }
  100% { width: 40%; }
}


/* 2
/* ---------------------------------------------------------- */
/* appelle animation pour les bar progress skill code */
.progress-value-code-1{
  animation: load-code-1 3s normal forwards;
}
.progress-value-code-2{
  animation: load-code-2 3s normal forwards;
}
.progress-value-code-3{
  animation: load-code-3 3s normal forwards;
}
.progress-value-code-4{
  animation: load-code-4 3s normal forwards;
}
.progress-value-code-5{
  animation: load-code-5 3s normal forwards;
}

/* 2 */
/* ----------------------------------------------------------- */
/* longeur et animation des bar progress skill code*/
@keyframes load-code-1 {
  0% { width: 0; }
  100% { width: 80%; }
}
@keyframes load-code-2 {
  0% { width: 0; }
  100% { width: 60%; }
}
@keyframes load-code-3 {
  0% { width: 0; }
  100% { width: 40%; }
}
@keyframes load-code-4 {
  0% { width: 0; }
  100% { width: 50%; }
}
@keyframes load-code-5 {
  0% { width: 0; }
  100% { width: 70%; }
}


/* 3 */
/* ---------------------------------------------------------- */
/* appelle animation pour les bar progress skill divers */
.progress-value-divers-1{
  animation: load-divers-1 3s normal forwards;
}
.progress-value-divers-2{
  animation: load-divers-2 3s normal forwards;
}
.progress-value-divers-3{
  animation: load-divers-3 3s normal forwards;
}
.progress-value-divers-4{
  animation: load-divers-4 3s normal forwards;
}

/* 3 */
/* ----------------------------------------------------------- */
/* longeur et animation des bar progress skill divers*/
@keyframes load-divers-1 {
  0% { width: 0; }
  100% { width: 100%; }
}
@keyframes load-divers-2 {
  0% { width: 0; }
  100% { width: 70%; }
}
@keyframes load-divers-3 {
  0% { width: 0; }
  100% { width: 60%; }
}
@keyframes load-divers-4 {
  0% { width: 0; }
  100% { width: 80%; }
}

/* ---------------------------------------------------------------------- */
/* Media queries third page, skill (responsive) */
/* ---------------------------------------------------------------------- */

@media (max-width: 1400px) {
  .title-modul{
    font-size: 30px;
  }
  .description-modul{
    font-size: 15px;
  }
  .item-tab.item_tab_actif .description-modul{
    font-size: 15px;
  }
}
@media (max-width: 1200px) {
  .illustration-thrid-section{
    display: none;
  }
  .container-skill{
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 800px) {
  .tab-menu{
    width: 90%;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 30px;
  }
  .item-tab{
    width: 70%;
  }
  .bar-progress{
    margin-top: 20px;
  }
  .progress {
    width: 650px;
  }
  .third-page{
    height: 110vh;
  }
}
@media (max-width: 700px) {
  .progress {
    width: 550px;
  }
}
@media (max-width: 600px) {
  .progress {
    width: 450px;
  }
  .item-label-title{
    font-size: 15px;
  }
  .item-label-percentage{
    font-size: 15px;
  }
}
@media (max-width: 450px) {
  .progress {
    width: 350px;
  }
}


/* ---------------------------------------------- */
/* quatrième section, portfolio */
/* ---------------------------------------------- */

.fourth-page{
  width: 100%;
  height: auto;
  background-color: #885A5A;
  z-index: -99;
}

.content-fourth-section{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding-bottom: 100px;
}

.card-item{
  width: 90%;
  height: 70vh;
  background-color: white;
  border-top: 35px solid #464655;
  border-radius: 15px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-interlocking-card{
  position: sticky;
  top: 160px;
}

.illustration-first-card{
  width: 45%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.illustration-portfolio{
  width: 100%;
  z-index: 50;
}

.section-rigth-card-first-card{
  width: 55%;
  height: 60%;
  padding-left: 20px;
}

.info-card{
  display: flex;
  align-items: center;
}

.circle-picto{
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 3px solid #885A5A;
  border-radius: 100px;
}

.fa-desktop{
  font-size: 30px;
}

.title-card{
  margin-left: 25px;
  color: #885A5A;
  font-size: 30px;
  font-weight: bold;
}

.description-portfolio{
  width: 80%;
  margin-top: 30px;
  padding-left: 30px;
  font-size: 18px;
  line-height: 2rem;
}

.section-left-card{
  width: 50%;
  height: 100%;
  margin: 0;
}

.img-projet-portfolio{
  width: 100%;
  height: 100%;
}

.section-rigth-card{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 50px;
}

.tools-to-use{
  margin-top: 30px;
  line-height: 1.5rem;
}

.title-language{
  color: #885A5A;
  font-size: 20px;
  font-weight: bold;
  margin-left: 30px;
}

.liste-tool-use{
  margin-top: 5px;
  font-size: 15px;
}

.seconde-interlocking-card{
  position: sticky;
  top: 220px;
}

.thrid-interlocking-card{
  position: sticky;
  top: 250px;
}


/* info scroll */
.scroll-down-portfolio{
  position: absolute;
  top: 94%;
  right: 0%;
  transform: rotate(90deg);
}

/* ---------------------------------------------------------------------- */
/* Media queries fourth page, portfolio (responsive) */
/* ---------------------------------------------------------------------- */



.fifth-page{
  background-color: #018673;
  z-index: -99;
}