*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  color: black;
  background-color: #efefef;
}
/* ------------------------------------------------------------------------------------------------------------------- */
  /* Design Header */
/* ------------------------------------------------------------------------------------------------------------------- */

/* header */
.content-header{
  position: fixed;
  width: 97%;
  height: 100px;
  left: 50%;
  top: 1.5%;
  transform: translate(-50%);
  border-radius: 15px;
  z-index: 5;
}

.content-header.scroll{
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.5);
}

/* .content-header.scroll{
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.5);
} */

.content-header.change_color_black{
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.5);
}

.wrapper-header{
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  z-index: 5;
}

.img-logo{
  height: 80px;
  width: 65px;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.item-nav{
  text-decoration: none;
  margin-right: 20px;
  margin-left: 20px;
  color: white;
}
.item-nav:hover{
  color: white;
}

/* Version actif des link de nav dans le header */

.item-nav.actif::after{
  content: '';
  position:relative;
  top: 5px;
  left: 0;
  width: 70%;
  height: 2px;
  display: flex;
  background-color: white;
  transition: 0.3s;
}

.item-nav::after{
  content: '';
  position:relative;
  top: 5px;
  left: 0;
  width: 0;
  height: 2px;
  display: flex;
  background-color: white;
  transition: 0.3s;
}
.item-nav:hover::after{
  width: 70%;
}

/* ---------------------------------- */
/* menu burger */
/* ---------------------------------- */

.menu-burger{
  width: 40px;
  height: 24px;
  cursor: pointer;
  position: relative;
  display: none;
}

.menu-burger span{
  width: 100%;
  height: 4px;
  background-color: white;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50px;
  transition: background-color 0.5s ease-in-out;
}

.menu-burger span::before, .menu-burger span::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 50px;
  transition: transform 0.5s ease-in-out;
}

.menu-burger span::before{
  transform: translateY(10px);
}

.menu-burger span::after{
  transform: translateY(-10px);
}

.menu-burger.active span{
  background-color: transparent;
}

.menu-burger.active span::before{
  transform: translateY(0) rotateZ(45deg);
}

.menu-burger.active span::after{
  transform: translateY(0) rotateZ(-45deg);
}

/* ------------------------------------------------ */
/* Creation et afficher du menu mobile en plein ecran */
/* ------------------------------------------------ */

.menu-anim{
  background-color: #171717;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 100px;
  z-index: 4;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in-out;
}

.menu-anim.is-active{
  opacity: 1;
  visibility: visible;
}

.menu-list{
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.menu-item:not(:last-child){
  margin-bottom: 30px;
}

.menu-link{
  position: relative;
  display: inline-flex;
  font-weight: bold;
  font-size: 35px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.menu-link:hover{
  color: white;
}

.menu-link::after{
  content: '';
  position:absolute;
  bottom: -20px;
  left: 0;
  width: 0;
  height: 5px;
  display: inline-flex;
  transition: 0.3s;
}

.menu-link-1::after{
  background-color: #efefef;
}
.menu-link-2::after{
  background-color: #36382E;
}
.menu-link-3::after{
  background-color: #464655;
}
.menu-link-4::after{
  background-color: #885A5A;
}
.menu-link-5::after{
  background-color: #403D39;
}

.menu-link:hover::after{
  width: 100%;
}

/* Fin header */

/* ------------------------------------------------------------------------------------------------------------------- */
  /* Design content */
/* ------------------------------------------------------------------------------------------------------------------- */

/* -------------------------------------------- */
/* Contenu premier page, page accueil */
/* -------------------------------------------- */
.site-content{
  width: 100%;
  height: auto;
}

.wrapper-content{
  width: 100%;
  height: 100vh;
  /* overflow-y: scroll; */
  /* scroll-snap-type: y mandatory; */
  /* overflow-x: hidden; */
}

.item-section{
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
  /* overflow: hidden; */
  position: relative;
}

/* Image fond */
.first-page {
  width: 100%;
  height: 100vh;
  background-image: url(../img/photo-noir-et-blanc-retouche.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}

/* bar latteral reseau */
.network{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}

.list-network{
  padding: 0;
  margin-top: 48px;
  margin-bottom: 48px;
}

.separator-top, .separator-bottom{
  width: 2px;
  height: 200px;
  background-color: white;
}

.icon-network{
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.linkedin{
  margin-top: 20px;
}
.git{
  margin-top: 20px;
}

/* Titre principal */
.section-title{
  transform: translateX(100px);
}

.title-me{
  font-size: 74px;
  color: white;
  font-weight: bold;
}

.description-title{
  margin-top: 30px;
  font-size: 22px;
  color: white;
}

/* zone actif en fonction des pages */
.actif-section{
  position: fixed;
  top: 50%;
  right: 2%;
  transform: translate(-50%, -50%);
}

.item-landmark{
  width: 3px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 30px 0 30px 0;
}
.item-landmark.defined{
  background-color: white;
}

/* Button musique */
.sound{
  position: fixed;
  left: 0.8%;
  top: 93%;
}

.circle-icon-sound{
  width: 45px;
  height: 45px;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center ;
  cursor: pointer;
}

.fa-volume-high, .fa-volume-xmark{
  font-size: 20px;
}

/* info scroll */
.scroll-down{
  position: absolute;
  top: 90%;
  right: 0%;
  transform: rotate(90deg);
}

.info-scroll{
  color: white;
  font-size: 15px;

}

.fa-arrow-right{
  margin-left: 10px;
  font-size: 16px;
}

.arrow-animation-sroll{
  animation-name: bounce;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%, 100% {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  40% {
  -moz-transform: translateX(6px);
  -ms-transform: translateX(6px);
  -webkit-transform: translateX(6px);
  transform: translateX(6px);
  }
}
/* ---------------------------------------------------------------------- */
/* Media queries page d'accueil, (responsive) */
/* ---------------------------------------------------------------------- */

@media (min-width: 2000px) {
  .separator-top, .separator-bottom{
    height: 280px;
  }
}

@media (max-width: 1500px) {
  .title-me{
    font-size: 60px;
  }
}

@media (max-width: 1100px) {
  .title-me{
    font-size: 45px;
  }
  .menu{
    display: none;
  }
  .menu-burger{
    display: block;
  }
}

@media (max-width: 950px) {
  .actif-section{
    display: none;
  }
  .title-me{
    font-size: 35px;
  }
}

@media (max-width: 800px) {
  .title-me{
    width: 30vh;
  }
  .title-me span{
    white-space: nowrap;
  }
  .network{
    display: none;
  }
  .sound{
    left: 5%;
    top: 92%;
  }
}
@media (max-width: 650px) {
  .description-title{
    width: 30vh;
  }
  .description-title span{
    white-space: nowrap;
    line-height: 2rem;
  }
  .section-title{
    transform: translateX(50px);
  }
  .img-logo{
    height: 80px;
    width: 55px;
  }
  .menu-anim{
    padding: 10px;
  }
  .menu-link{
    font-size: 30px;
  }}

/* ---------------------------------------------- */
/* deuxième section, parlons de moi */
/* ---------------------------------------------- */

.seconde-page{
  width: 100%;
  height: 100vh;
  background-color: #36382E;
  position: relative;
  z-index: -99;
}

/* container img et text */
.content-me{
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
}

/* .profil{
  width: 455px;
  height: 592px;
} */

.picture-profil{
  width: 455px;
  height: 592px;
  background-image: url(../img/photo-profil.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.border-picture{
  position: absolute;
  top: 15%;
  left: -2%;
  width: 455px;
  height: 592px;
  background-color: transparent;
  border: 2px solid white;
  z-index: -2;
}

/* container text */
.about-me{
  margin-left: 50px;
}

.category{
  width: 140px;
  height: 40px;
  background-color: rgb(112, 112, 112, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
}

.student-title{
  color: white;
  font-size: 55px;
  font-weight: bold;
  margin: 20px 0;
}

.description{
  width: 65%;
  font-size: 20px;
  line-height: 2rem;
  color: white;
}

.download-CV{
  font-size: 18px;
  border-radius: 30px 0 30px 0;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 20px 30px;
  margin-top: 30px;
}
.download-CV:hover{
  background-color: rgb(255, 255, 255, 0.8);
  border: 2px solid #36382E;
  color: #36382E;
}

/* background Title section */
.container-bg-title{
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg-title{
  position: absolute;
  top: 30%;
  left: 15%;
  font-size: 400px;
  color: rgb(255, 255, 255, 0.2);
  white-space: nowrap;
  z-index: -100;
}

/* ---------------------------------------------------------------------- */
/* Media queries seconde page, about me (responsive) */
/* ---------------------------------------------------------------------- */

@media (min-width: 2000px) {
  .border-picture{
    position: absolute;
    top: 20%;
  }
}
@media (max-width: 1800px) {
  .border-picture{
    position: absolute;
    top: 20%;
  }
}
@media (max-width: 1600px) {
  .description{
    width: 85%;
  }
}
@media (max-width: 1300px) {
  .description{
    width: 95%;
  }
}
@media (max-width: 1100px) {
  .border-picture{
    display: none;
  }
  .student-title{
    font-size: 50px;
  }
  .description{
    font-size: 20px;
  }
  .download-CV{
    font-size: 15px;
    padding: 15px 25px;
  }
  .picture-profil{
    width: 400px;
    height: 530px;
    background-image: url(../img/photo-profil.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
}
@media (max-width: 1000px) {
  .seconde-page{
    height: 110vh;
  }
  .content-me{
    flex-direction: column;
  }
  .about-me{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }
  .picture-profil{
    width: 380px;
    height: 490px;
  }
  .student-title{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
  }
  .description{
    width: 100%;
    font-size: 18px;
    line-height: 2rem;
    color: white;
  }
  .download-CV{
    width: auto;
    margin: auto;
    font-size: 11px;
    padding: 10px 20px;
  }
}
@media (max-width: 800px) {
  .picture-profil{
    width: 330px;
    height: 350px;
  }
  .scroll-down{
    display: none;
  }
}
@media (max-width: 600px) {
  .picture-profil{
    width: 250px;
    height: 274px;
  }
  .student-title{
    font-size: 22px;
  }
  .description{
    font-size: 14px;
    line-height: 1.8rem;
  }
  .bg-title{
    display: none;
  }
  .category{
    width: 120px;
    height: 30px;
    font-size: 11px;
  }
  .content-me{
    transform: translateY(30px);
  }
}

/* ---------------------------------------------- */
/* troisième section, mes compétences, my skill*/
/* ---------------------------------------------- */

.third-page{
  width: 100%;
  height: 100vh;
  background-color: #464655;
  position: relative;
  z-index: -99;
}

.content-third-section{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
}

/* illustration */
.illustration-thrid-section{
  width: 35%;
  position: relative;
  top: 30%;
}

.illust-skill{
  width: 100%;
  height: auto;
}

/* container skill */
.container-skill{
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 60px;
  margin-top: 100px;
  z-index: 10;
}


/* Tab menu skill */
.tab-menu{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-tab{
  width: 35%;
  line-height: 2rem;
  color: rgb(255, 255, 255, 0.3);
  border-bottom: 5px solid rgb(255, 255, 255, 0.35);
  cursor: pointer;
}

.title-modul{
  font-size: 35px;
  font-weight: bold;
}

.description-modul{
  color: rgb(255, 255, 255, 0.3);
  font-size: 20px;
}

.item-tab.item_tab_actif{
  border-bottom: 5px solid white;
  color: white;
}

.item-tab.item_tab_actif .description-modul{
  color: rgb(255, 255, 255, 0.6);
  font-size: 20px;
}

/* Bar progress skill */
.bar-progress{
  margin-top: 60px;
  display: none;
}

.item-progress{
  margin-top: 40px;
}

.label-progress{
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.item-label-title{
  color: white;
  font-size: 18px;
}
.item-label-percentage{
  color: white;
  font-size: 18px;
}

.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  display: flex;
  height: 15px;
  width: 745px;
}

.progress-value {
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: linear-gradient(45deg, #27DEBF, #018673);
  height: 15px;
  width: 0;
}

.bar-progress-3{
  margin-bottom: 92px;
}

.bar-progress.actif-progress-bar{
  display: block;
}


/* 1 */
/* ---------------------------------------------------------- */
/* appelle animation pour les bar progress skill design */
.progress-value-design-1{
  animation: load-design-1 3s normal forwards;
}
.progress-value-design-2{
  animation: load-design-2 3s normal forwards;
}
.progress-value-design-3{
  animation: load-design-3 3s normal forwards;
}
.progress-value-design-4{
  animation: load-design-4 3s normal forwards;
}
.progress-value-design-5{
  animation: load-design-5 3s normal forwards;
}

/* 1 */
/* ----------------------------------------------------------- */
/* longeur et animation des bar progress skill design*/
@keyframes load-design-1 {
  0% { width: 0; }
  100% { width: 60%; }
}
@keyframes load-design-2 {
  0% { width: 0; }
  100% { width: 75%; }
}
@keyframes load-design-3 {
  0% { width: 0; }
  100% { width: 90%; }
}
@keyframes load-design-4 {
  0% { width: 0; }
  100% { width: 60%; }
}
@keyframes load-design-5 {
  0% { width: 0; }
  100% { width: 40%; }
}


/* 2
/* ---------------------------------------------------------- */
/* appelle animation pour les bar progress skill code */
.progress-value-code-1{
  animation: load-code-1 3s normal forwards;
}
.progress-value-code-2{
  animation: load-code-2 3s normal forwards;
}
.progress-value-code-3{
  animation: load-code-3 3s normal forwards;
}
.progress-value-code-4{
  animation: load-code-4 3s normal forwards;
}
.progress-value-code-5{
  animation: load-code-5 3s normal forwards;
}

/* 2 */
/* ----------------------------------------------------------- */
/* longeur et animation des bar progress skill code*/
@keyframes load-code-1 {
  0% { width: 0; }
  100% { width: 80%; }
}
@keyframes load-code-2 {
  0% { width: 0; }
  100% { width: 60%; }
}
@keyframes load-code-3 {
  0% { width: 0; }
  100% { width: 40%; }
}
@keyframes load-code-4 {
  0% { width: 0; }
  100% { width: 50%; }
}
@keyframes load-code-5 {
  0% { width: 0; }
  100% { width: 70%; }
}


/* 3 */
/* ---------------------------------------------------------- */
/* appelle animation pour les bar progress skill divers */
.progress-value-divers-1{
  animation: load-divers-1 3s normal forwards;
}
.progress-value-divers-2{
  animation: load-divers-2 3s normal forwards;
}
.progress-value-divers-3{
  animation: load-divers-3 3s normal forwards;
}
.progress-value-divers-4{
  animation: load-divers-4 3s normal forwards;
}

/* 3 */
/* ----------------------------------------------------------- */
/* longeur et animation des bar progress skill divers*/
@keyframes load-divers-1 {
  0% { width: 0; }
  100% { width: 90%; }
}
@keyframes load-divers-2 {
  0% { width: 0; }
  100% { width: 70%; }
}
@keyframes load-divers-3 {
  0% { width: 0; }
  100% { width: 60%; }
}
@keyframes load-divers-4 {
  0% { width: 0; }
  100% { width: 80%; }
}

/* ---------------------------------------------------------------------- */
/* Media queries third page, skill (responsive) */
/* ---------------------------------------------------------------------- */

@media (max-width: 1400px) {
  .title-modul{
    font-size: 30px;
  }
  .description-modul{
    font-size: 15px;
  }
  .item-tab.item_tab_actif .description-modul{
    font-size: 15px;
  }
}
@media (max-width: 1200px) {
  .illustration-thrid-section{
    display: none;
  }
  .container-skill{
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 800px) {
  .tab-menu{
    width: 90%;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 30px;
  }
  .item-tab{
    width: 70%;
  }
  .bar-progress{
    margin-top: 20px;
  }
  .progress {
    width: 650px;
  }
  .third-page{
    height: 110vh;
  }
}
@media (max-width: 700px) {
  .progress {
    width: 550px;
  }
}
@media (max-width: 600px) {
  .tab-menu{
    margin-top: 15px;
  }
  .item-tab{
    line-height: 1.8rem;
  }
  .title-modul{
    font-size: 25px;
  }
  .description-modul{
    font-size: 14px;
    margin-bottom: 8px;
  }
  .progress {
    width: 450px;
    height: 10px;
  }
  .item-label-title{
    font-size: 15px;
    margin-bottom: 4px;
  }
  .item-label-percentage{
    font-size: 15px;
    margin-bottom: 4px;
  }
  .bar-progress{
    margin-top: 20px;
  }
  
  .item-progress{
    margin-top: 20px;
  }
}
@media (max-width: 450px) {
  .progress {
    width: 350px;
  }
}


/* ---------------------------------------------- */
/* quatrième section, portfolio */
/* ---------------------------------------------- */

.fourth-page{
  width: 100%;
  height: auto;
  background-color: #885A5A;
  z-index: -99;
}

/* Container card section portfolio*/
.content-fourth-section{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding-bottom: 100px;
}

/* Card item */
.card-item{
  width: 90%;
  height: 70vh;
  background-color: white;
  border-top: 15px solid #464655;
  border-radius: 15px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* illsutration first card */
.first-interlocking-card{
  position: sticky;
  top: 150px;
}

.illustration-first-card{
  width: 45%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.illustration-portfolio{
  width: 100%;
  z-index: 50;
}

/* section rigth card first card */
.section-rigth-card-first-card{
  width: 55%;
  height: 60%;
  padding-left: 20px;
}

/* Circle picto and title card */
.info-card{
  display: flex;
  align-items: center;
}

.circle-picto{
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 3px solid #885A5A;
  border-radius: 100px;
}

.fa-desktop{
  font-size: 30px;
}

/* Title and description card */
.title-card{
  margin-left: 25px;
  color: #885A5A;
  font-size: 30px;
  font-weight: bold;
}

.description-portfolio{
  width: 80%;
  margin-top: 30px;
  padding-left: 30px;
  font-size: 18px;
  line-height: 2rem;
  text-align: justify;
}

/* --------------------------------------- */
/* Card project */

/* section left card project */
.section-left-card{
  width: 50%;
  height: 100%;
  margin: 0;
}

/* image project */
#projet-1{
  background-image: url(../img/img-femmeetinformatique.PNG);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
#projet-2{
  background-image: url(../img/e-commerce.PNG);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
#projet-3{
  background-image: url(../img/maquette-portfolio.PNG);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
#projet-4{
  background-image: url(../img/shifumi.PNG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#projet-5{
  background-image: url(../img/projet-php-api.PNG);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* section right card project */
.section-rigth-card{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 50px;
  box-shadow: -5px 0 40px rgb(0, 0, 0, 0.5)
}

/* section langues and tools to use card project */
.tools-to-use{
  margin-top: 30px;
  line-height: 1.5rem;
}

.title-language{
  color: #885A5A;
  font-size: 20px;
  font-weight: bold;
  margin-left: 30px;
}

.liste-tool-use{
  margin-top: 5px;
  font-size: 15px;
}


/* Button discover project */
.container-btn-card{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
  position: relative;
  top: 30px;
}

.discover-project{
  width: auto;
  background-color: transparent;
  border: none;
  margin-right: 30px;
  font-size: 20px;
  color: #464655;
}
.arrow-card{
  font-size: 20px;
  color: #464655;
}

/* Initialisation postion of each card */
.seconde-interlocking-card{
  position: sticky;
  top: 180px;
}

.third-interlocking-card{
  position: sticky;
  top: 210px;
}

.fourth-interlocking-card{
  position: sticky;
  top: 240px;
}

.fifth-interlocking-card{
  position: sticky;
  top: 270px;
}

.sixth-interlocking-card{
  position: sticky;
  top: 150px;
}


/* info scroll */
.scroll-down-portfolio{
  position: absolute;
  top: 97.7%;
  right: 0%;
  transform: rotate(90deg);
}

/* ---------------------------------------------------------------------- */
/* Media queries fourth page, portfolio (responsive) */
/* ---------------------------------------------------------------------- */

@media (max-width: 1800px) {
  .container-btn-card{
    top: -20px;
  }
  .circle-picto{
    width: 70px;
    height: 70px;
  }
  .fa-desktop{
    font-size: 25px;
  }
  .tools-to-use{
    margin-top: 10px;
  }
  .title-card{
    font-size: 28px;
  }
}
@media (max-width: 1400px) {
  .description-portfolio{
    width: 90%;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.8rem;
  }
}
@media (max-width: 1200px) {
  .card-item{
    flex-direction: column;
  }

  /* First card */
  .illustration-first-card{
    width: 90%;
    height: 40%;
    margin: 0;
  }
  
  .illustration-portfolio{
    width: 80%;
    height: 100%;
    z-index: 50;
  }
  .section-rigth-card-first-card{
    width: 90%;
    height: 60%;
    padding-left: 0;
  }

  /* card project */
  .section-left-card{
    width: 100%;
    height: 40%;
    margin: 0;
  }
  .img-projet-portfolio{
    width: 100%;
    height: 100%;
    border-radius: 0 0 0 15px;
  }
  
  .section-rigth-card{
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
    box-shadow: none
  }

  .circle-picto{
    width: 60px;
    height: 60px;
  }
  
  .fa-desktop{
    font-size: 20px;
  }
  
  /* Title and description card */
  .title-card{
    margin-left: 25px;
    color: #885A5A;
    font-size: 25px;
    font-weight: bold;
  }
  
  .description-portfolio{
    width: 95%;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.8rem;
  }
}
@media (max-width: 900px) {
  .tools-to-use{
    display: none;
  }
  .container-btn-card{
    top: 30px;
  }
  .discover-project{
    margin-right: 0;
  }
}
@media (max-width: 800px) {
  .section-rigth-card{
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 0;
  }
  .circle-picto{
    width: 40px;
    height: 40px;
    border: 2px solid #885A5A;
  }
  
  .fa-desktop{
    font-size: 16px;
  }

  .title-card{
    margin-left: 20px;
    font-size: 20px;
  }
  .description-portfolio{
    margin-top: 18px;
    font-size: 14px;
    line-height: 1.4rem;
  }
  .container-btn-card{
    top: 30px;
  }
  .discover-project{
    font-size: 15px;
    margin-right: 0;
  }
  .arrow-card{
    font-size: 15px;
    color: #464655;
  }
  .scroll-down-portfolio{
    display: none;
  }
}
@media (max-width: 600px) {
  .section-left-card{
    height: 30%;
  }
  
  .section-rigth-card{
    width: 90%;
    height: 70%;
  }
  .description-portfolio{
    margin-top: 10px;
  }
}
@media (max-width: 400px) {
  .container-btn-card{
    top: -10px;
  }
}

/* ---------------------------------------------- */
/* Cinquième section, contact */
/* ---------------------------------------------- */

.fifth-page{
  height: 400px;
  width: 100%;
  background-color: #403D39;
  z-index: -99;
}

.container-bg-title-contact{
  height: 400px;
  z-index: -100;
}

.content-contact{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.content-fifth-section{
  width: 85%;
  height: 93%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.img-logo-footer{
  width: 115px;
  height: 155px;
}

.me-contacter{
  width: auto;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  padding-bottom: 25px;
}

.Title-contact{
  font-size: 38px;
  font-weight: bold;
  color: white;
  border-bottom: 2px solid white;
  line-height: 3rem;
}

.container-network-footer{
  display: flex;
}

.liste-means-contact{
  text-align: center;
  padding: 0;
  margin-top: 35px;
  line-height: 2rem;
  margin-bottom: 40px;
}

.phone, .mail{
  color: white;
  text-decoration: none;
  font-size: 22px;
}
.phone:hover, .mail:hover{
  color: white;
}

.fa-phone, .fa-envelope{
  margin-right: 20px;
}

.container-network-footer{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-network-footer{
  margin: 20px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 100px;
}

.insta-footer, .linkedin-fotter, .github-footer{
  font-size: 25px;
  color: white;
}

.description-creator-site{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  opacity: 50%;
  font-size: 18px;
  margin-bottom: 0;
}

/* Map */
.mapouter {
  position: relative;
  text-align: right;
  height: 280px;
  width: 380px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 280px;
  width: 380px;
}

@media (max-width: 1100px) {
  .img-logo-footer{
    display: none;
  }
  .mapouter{
    height: 200px;
    width: 300px;
  }
  .gmap_canvas{
    height: 200px;
    width: 300px;
  }
  .Title-contact{
    font-size: 30px;
  }
  
  .phone, .mail{
    font-size: 20px;
  }
  
  .item-network-footer{
    width: 50px;
    height: 50px;
  }
  
  .insta-footer, .linkedin-fotter, .github-footer{
    font-size: 22px;
  }
  
  .description-creator-site{
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  .fifth-page{
    height: auto;
  }
  .content-fifth-section{
    flex-direction: column;
  }
  .liste-means-contact{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .Title-contact{
    font-size: 25px;
  }
  .phone, .mail{
    font-size: 16px;
  }
  .item-network-footer{
    width: 45px;
    height: 45px;
  }
  
  .insta-footer, .linkedin-fotter, .github-footer{
    font-size: 20px;
  }
  .description-creator-site{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}